
{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yurt Yemek Değerlendirme</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    
</head>
<body>
    <header>
        <div style="display: flex; justify-content: space-between; align-items: center; max-height: 10%;">
            <img src="{% static 'img/gsbBiz.jpg' %}" alt="logo" />
            <h1>Yurt Yemek Değerlendirme Sistemi</h1>
            <!-- Admin Girişi Butonu -->
            <a href="{% url 'admin-login' %}" class="btn btn-secondary">Admin Girişi</a>
        </div>
    </header>

    <main class="container">
        <h2>Bugünkü Yemekleri Değerlendir</h2>
        <p>Lütfen aşağıdaki yemekler hakkında yorum yapın.</p>

        <div style="background-color: rgb(138, 204, 213);">
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <form id="yemekForm" action="{% url 'feedback-form' %}" method="POST">
            {% csrf_token %}
            {% for meal in meals %}
                <div class="yemek">
                    <label for="yorum_{{ meal.id }}">{{ meal.name }}</label>
                    <textarea name="yorum_{{ meal.id }}" class="yorum" placeholder="Yorumunuzu yazın..."></textarea>
                </div>
            {% endfor %}
            <button type="submit">Gönder</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2025 Yurt Yönetimi. Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>
